<ion-header>
  <ion-toolbar>
    <ion-title>Page Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div id="container">
    <div>   
    <ion-item>
      <ion-label floating class="title" > Email</ion-label>
    <ion-input type="email"></ion-input>
    </ion-item>
    <ion-item>
    <ion-label floating class="title"> Password</ion-label>
    <ion-input type="password"></ion-input>
    </ion-item>
    </div>
    <br>
    <br>
    <button><b>Register</b></button>
</div>


</ion-content>
